<!doctype html>
<head>
  <title>horcrux</title>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/browse.css"/>
  <script src="js/jquery.js"></script>
  <script src="js/browse.js"></script>
  <script src="js/apis/drive.js"></script>
</head>
<body>
  <header>
    <h1 class="logo">horcru<span>x</span></h1>
    <nav>
      <a href="/logout">Log out</a>
    </nav>
  </header>
  <main>
    <div class="side">
      <ul>
        <li>Hello</li>
        <li>World</li>
      </ul>
    </div>
    <div class="browse">
      <div class="actions">
        <input  class="search" type="text"/>
        <button class="upload"/>
        <button class="folder"/>
      </div>
      <table>
        <tr>
          <td class="folder">Folder1</td>
          <td class="download">download</td>
        </tr>
        <tr>
          <td class="folder">Folder2</td>
          <td class="download">download</td>
        </tr>
      </table>
    </div>
  </main>
</body>
</html>
