<!doctype html>
<head>
  <title>horcrux</title>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/browse.css"/>
  <script src="js/jquery.js"></script>
  <script>
    var username = "<%= user %>";
    var filetree = <%= files %>;
    var path = [];
  </script>
  <script src="js/browse.js"></script>
  <script src="js/apis/drive.js"></script>
</head>
<body>
  <header>
    <h1 class="logo">horcru<span>x</span></h1>
    <nav>
      <a href="/logout">Log out</a>
    </nav>
  </header>
  <main>
    <div class="side">
      <ul>
        <li>Hello</li>
        <li>World</li>
      </ul>
    </div>
    <div class="browse">
      <div class="actions">
        <input  class="search" type="text"/>
        <button class="upload"/>
        <button class="newfolder"/>
      </div>
      <table>
        <thead>
          <tr>
            <th>File</th>
            <th>Download link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="folder">Folder1</td>
            <td class="download">download</td>
          </tr>
          <tr>
            <td class="folder">Folder2</td>
            <td class="download">download</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  <section class="hidden">
    <form class="uploadform" action='/upload' method="post" enctype="multipart/form-data">
      <input type="file" name="file_payload"/>
      <input type="submit"/>
    </form>
  </section>
</body>
</html>
