<!doctype html>
<head>
  <title>horcrux</title>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/login.css"/>
  <script src="js/jquery.js"></script>
  <script src="js/script.js"></script>
</head>
<body>
  <header>
    <h1 class="logo">horcru<span>x</span></h1>
    <nav>
      <a href="/login">Log in</a>
    </nav>
  </header>
  <main>
    <form action="/user_auth" method="post">
      <label>Log In & Sign Up</label>
      <p style="color: red">{{message}}</p>
      <input required name="email" type="email" placeholder="email"/>
      <input required name="password" type="password" placeholder="password"/>
      <input type="submit" name="login" value="Log In"/>
      <input type="submit" name="signup" value="Sign Up"/>
    </form>
  </main>
</body>
</html>
